.container{
    font-family: inherit;
    width: 250px;
    /* height: 100px; */
    align-items: center;
    margin-top: 25px;  
    outline: none;
    /* border: 2px solid white; */
    /* margin-bottom: 10px; */
    
}
.input{
    font-size: 16px;
    border-radius: 5px;
    padding: 2px;
}



